* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  padding: 0 70px;
  width: 100%;
  height: 135px;
  background-color: hsl(217, 28%, 15%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar > .left > img {
  height: 35px;
  width: 120px;
}
.navbar > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.navbar > .right > a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar > .right > a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
}

.intro {
  position: relative;
  padding: 50px 0;
  padding-bottom: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(217, 28%, 15%);
  z-index: 1;
}
.intro > .introImage {
  margin-bottom: 25px;
  max-width: 720px;
  z-index: 1;
}
.intro > h1 {
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  z-index: 1;
}
.intro > h1 > .top {
  margin-top: -5px;
}
.intro .top {
  margin-top: 20px;
}
.intro > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2px;
  z-index: 1;
}
.intro > .btnIntro {
  cursor: pointer;
  margin-top: 30px;
  color: #fff;
  width: 220px;
  height: 48px;
  border: none;
  z-index: 1;
  border-radius: 50px;
  background-color: hsl(198, 60%, 50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.intro > .btnIntro:hover {
  background-color: hsl(176, 68%, 64%);
}

.hide {
  display: none;
}

.curvy {
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.cards {
  margin-top: -220px;
  background-color: hsl(218, 28%, 13%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  gap: 100px;
  z-index: 1;
}
.cards > .row > .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 375px;
}
.cards > .row > .card > img {
  height: 80px;
  margin-bottom: 25px;
}
.cards > .row > .card > h4 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin-bottom: 8px;
}
.cards > .row > .card > p {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
}
.cards > .row .first {
  max-width: 355px;
}
.cards > .row .second {
  max-width: 380px;
}
.cards > .row:first-child {
  padding-top: 90px;
}

.productive {
  padding: 40px 70px;
  background-color: hsl(218, 28%, 13%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.productive > .productive-left {
  max-width: 600px;
}
.productive > .productive-left > img {
  width: 100%;
}
.productive > .productive-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productive > .productive-right > h3 {
  width: 300px;
  margin-bottom: 17px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.productive > .productive-right > p {
  width: 500px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 14px;
}
.productive > .productive-right > a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsl(176, 68%, 64%);
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.productive > .productive-right > a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 30%;
  height: 1px;
  background-color: hsl(176, 68%, 64%);
  margin-top: 10px;
}
.productive > .productive-right > a > .icon {
  margin-left: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: hsl(176, 68%, 64%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productive > .productive-right > a > .icon > i {
  color: hsl(218, 28%, 13%);
  font-size: 12px;
}

.userCards {
  padding-top: 40px;
  padding-bottom: 230px;
  background-color: hsl(218, 28%, 13%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.userCards .userCard {
  margin-top: 30px;
  z-index: 1000;
  background-color: hsl(219, 30%, 18%);
  padding: 30px 20px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
}
.userCards .userCard > .quote {
  width: 35px;
  height: 30px;
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: -100000;
}
.userCards .userCard > p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.userCards .userCard .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.userCards .userCard .general > .cLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.userCards .userCard .general > .cLeft > img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.userCards .userCard .general > .cRight > h5 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 11px;
  margin-bottom: 2px;
}
.userCards .userCard .general > .cRight > p {
  color: #fff;
  font-size: 8px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.userCards .userCard:first-child {
  position: relative;
  z-index: 1000;
}

.subscribe {
  background-color: hsl(218, 28%, 13%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.subscribe .cardSubs {
  background-color: hsl(219, 30%, 18%);
  width: 800px;
  height: 220px;
  position: absolute;
  top: -120px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe .cardSubs > h5 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-top: 30px;
}
.subscribe .cardSubs > p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  width: 620px;
  text-align: center;
}
.subscribe .cardSubs > .inputBtn > input {
  padding: 12px;
  width: 450px;
  outline: #fff;
  border-radius: 50px;
  border-color: transparent;
  margin-right: 20px;
}
.subscribe .cardSubs > .inputBtn > button {
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  width: 180px;
  height: 42px;
  border: none;
  border-radius: 50px;
  background-color: hsl(198, 60%, 50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.subscribe .cardSubs > .inputBtn > button:hover {
  background-color: hsl(176, 68%, 64%);
}

.footer {
  background-color: hsl(216, 53%, 9%);
  height: 430px;
  padding-top: 170px;
  padding-left: 90px;
  padding-right: 90px;
}
.footer > .footerTop > img {
  width: 150px;
  margin-bottom: 20px;
}
.footer .footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footerBottom > .bottomFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footerBottom > .bottomFirst > img {
  color: #fff;
  margin-right: 15px;
  margin-top: 8px;
  width: 13px;
  height: 13px;
}
.footer .footerBottom > .bottomFirst > p {
  width: 290px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.footer .footerBottom .fr {
  margin-top: -5px;
}
.footer .footerBottom > .bottomSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footerBottom > .bottomSecond .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footerBottom > .bottomSecond .icon > img {
  color: #fff;
  margin-right: 15px;
  margin-top: 8px;
  width: 15px;
  height: 13px;
}
.footer .footerBottom > .bottomSecond .icon > p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 7px;
  font-family: "Open Sans", sans-serif;
}
.footer .footerBottom > .bottomThird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footerBottom > .bottomThird .fr {
  margin-top: 0px;
}
.footer .footerBottom > .bottomThird > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .footerBottom > .bottomThird > a:hover {
  color: hsl(198, 60%, 50%);
}
.footer .footerBottom .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.footer .footerBottom .icons > a {
  text-decoration: none;
}
.footer .footerBottom .icons > a > .iconCircle {
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 11px;
  background-color: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
}
.footer .footerBottom .icons > a > .iconCircle > i {
  font-size: 11px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .footerBottom .icons > a > .iconCircle > i:hover {
  color: hsl(198, 60%, 50%);
}

@media screen and (max-width: 1040px) {
  .navbar {
    padding: 0 30px;
    width: 100%;
    height: 100px;
    background-color: hsl(217, 28%, 15%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar > .left > img {
    height: 30px;
    width: 100px;
  }
  .intro {
    padding: 0;
    padding-bottom: 210px;
  }
  .intro > .introImage > img {
    margin-bottom: 25px;
    max-width: 500px;
    z-index: 1;
  }
  .intro > h1 {
    margin-bottom: 10px;
  }
  .intro > h1 > .top {
    margin-top: -5px;
  }
  .intro .top {
    margin-top: 20px;
  }
  .intro > p {
    margin-bottom: 2px;
  }
  .intro > .btnIntro {
    margin-top: 30px;
    width: 220px;
    height: 48px;
  }
  .cards {
    margin-top: -200px;
  }
  .cards > .row {
    margin-bottom: 60px;
    gap: 50px;
    z-index: 1;
  }
  .cards > .row > .card {
    max-width: 375px;
  }
  .cards > .row > .card > img {
    height: 60px;
    margin-bottom: 18px;
  }
  .cards > .row > .card > h4 {
    margin-bottom: 8px;
  }
  .cards > .row > .card > p {
    width: 300px;
    font-size: 12px;
  }
  .cards > .row .first {
    max-width: 355px;
  }
  .cards > .row .second {
    max-width: 380px;
  }
  .cards > .row:first-child {
    padding-top: 90px;
  }
  .productive {
    padding: 25px 30px;
    gap: 30px;
  }
  .productive > .productive-left {
    max-width: 600px;
  }
  .productive > .productive-left > img {
    width: 100%;
  }
  .productive > .productive-right > h3 {
    width: 250px;
    margin-bottom: 10px;
    font-size: 26px;
  }
  .productive > .productive-right > p {
    width: 350px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .productive > .productive-right > a {
    font-size: 13px;
  }
  .userCards {
    padding-top: 30px;
    padding-bottom: 180px;
    gap: 20px;
  }
  .userCards .userCard {
    margin-top: 30px;
    padding: 25px 15px;
    width: 350px;
  }
  .userCards .userCard > p {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .subscribe .cardSubs {
    background-color: hsl(219, 30%, 18%);
    width: 500px;
    height: 220px;
    top: -120px;
    border-radius: 10px;
  }
  .subscribe .cardSubs > h5 {
    font-size: 26px;
  }
  .subscribe .cardSubs > p {
    font-size: 12px;
    width: 300px;
  }
  .subscribe .cardSubs > .inputBtn > input {
    width: 250px;
  }
  .subscribe .cardSubs > .inputBtn > button {
    cursor: pointer;
    width: 170px;
  }
  .footer {
    background-color: hsl(216, 53%, 9%);
    height: 350px;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer > .footerTop > img {
    width: 120px;
    margin-bottom: 20px;
  }
  .footer .footerBottom > .bottomFirst > img {
    width: 13px;
    height: 13px;
  }
  .footer .footerBottom > .bottomFirst > p {
    width: 200px;
    font-size: 12px;
  }
  .footer .footerBottom .fr {
    margin-top: -5px;
  }
  .footer .footerBottom > .bottomSecond .icon {
    gap: 5px;
  }
  .footer .footerBottom > .bottomSecond .icon > img {
    color: #fff;
    margin-right: 8px;
    margin-top: 8px;
    width: 15px;
    height: 13px;
  }
  .footer .footerBottom > .bottomSecond .icon > p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    font-family: "Open Sans", sans-serif;
  }
}
@media screen and (max-width: 710px) {
  .navbar {
    padding: 0 20px;
    width: 100%;
    height: 80px;
  }
  .navbar > .left > img {
    height: 25px;
    width: 70px;
  }
  .navbar > .right {
    gap: 15px;
  }
  .navbar > .right > a {
    font-size: 10px;
  }
  .intro {
    padding: 50px 0;
    padding-bottom: 0px;
  }
  .intro > .introImage > img {
    margin-bottom: 25px;
    max-width: 300px;
  }
  .intro > h1 {
    width: 250px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.4;
  }
  .intro > h1 > .top {
    margin-top: -5px;
  }
  .intro .top {
    margin-top: 20px;
  }
  .intro > p {
    margin-bottom: 2px;
    text-align: center;
  }
  .intro > .btnIntro {
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    width: 220px;
    height: 48px;
    border: none;
  }
  .cards {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .cards > p {
    max-width: 350px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2px;
    z-index: 1;
  }
  .cards > .btnIntro {
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    width: 220px;
    height: 48px;
    border: none;
    z-index: 1;
    border-radius: 50px;
    background-color: hsl(198, 60%, 50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 100px;
  }
  .cards > .btnIntro:hover {
    background-color: hsl(176, 68%, 64%);
  }
  .cards > .row {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    z-index: 1;
  }
  .cards > .row > .card {
    max-width: 375px;
  }
  .cards > .row > .card > img {
    height: 60px;
    margin-bottom: 18px;
  }
  .cards > .row > .card > h4 {
    margin-bottom: 8px;
  }
  .cards > .row > .card > p {
    width: 300px;
    font-size: 12px;
  }
  .cards > .row .first {
    max-width: 355px;
  }
  .cards > .row .second {
    max-width: 380px;
  }
  .cards > .row:first-child {
    padding-top: 90px;
  }
  .curv {
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    bottom: -1px;
  }
  .hidden {
    display: none;
  }
  .hide {
    display: initial;
  }
  .productive {
    padding: 25px 30px;
    padding-top: 60px;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productive > .productive-left {
    max-width: 300px;
  }
  .productive > .productive-left > img {
    width: 100%;
  }
  .productive > .productive-right {
    max-width: 300px;
  }
  .productive > .productive-right > h3 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .productive > .productive-right > p {
    width: 100%;
    font-size: 11px;
    margin-bottom: 8px;
  }
  .productive > .productive-right > a {
    font-size: 11px;
  }
  .userCards {
    padding-top: 100px;
    padding-bottom: 240px;
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .userCards .userCard {
    margin-top: 30px;
    padding: 25px 15px;
    width: 250px;
  }
  .userCards .userCard > p {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .subscribe .cardSubs {
    background-color: hsl(219, 30%, 18%);
    width: 300px;
    height: 280px;
    top: -120px;
    border-radius: 10px;
  }
  .subscribe .cardSubs > h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .subscribe .cardSubs > p {
    font-size: 12px;
    width: 240px;
    margin-bottom: 20px;
  }
  .subscribe .cardSubs > .inputBtn {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe .cardSubs > .inputBtn > input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .subscribe .cardSubs > .inputBtn > button {
    width: 100%;
  }
  .footer {
    background-color: hsl(216, 53%, 9%);
    height: 900px;
    padding-top: 230px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer > .footerTop > img {
    width: 150px;
    margin-bottom: 20px;
  }
  .footer .footerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer .footerBottom > .bottomFirst > img {
    width: 20px;
    height: 18px;
  }
  .footer .footerBottom > .bottomFirst > p {
    width: 260px;
    font-size: 16px;
  }
  .footer .footerBottom .fr {
    margin-top: 0px;
  }
  .footer .footerBottom > .bottomSecond .icon {
    gap: 5px;
  }
  .footer .footerBottom > .bottomSecond .icon > img {
    color: #fff;
    margin-right: 10px;
    margin-top: 8px;
    width: 20px;
    height: 18px;
  }
  .footer .footerBottom > .bottomSecond .icon > p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 7px;
    font-family: "Open Sans", sans-serif;
  }
  .footer .footerBottom > .bottomThird {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footerBottom > .bottomThird .fr {
    margin-top: 0px;
  }
  .footer .footerBottom > .bottomThird > a {
    font-size: 16px;
  }
  .footer .footerBottom .icons {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .footer .footerBottom .icons > a {
    text-decoration: none;
  }
  .footer .footerBottom .icons > a > .iconCircle {
    cursor: pointer;
    width: 22px;
    height: 22px;
    padding: 13px;
  }
}