* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 0 70px;
  width: 100%;
  height: 135px;
  background-color: hsl(217, 28%, 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .left {
    > img {
      height: 35px;
      width: 120px;
    }
  }
  > .right {
    display: flex;
    gap: 25px;
    > a {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      display: inline-block;
      transition: 0.5s;
      &:hover::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin-top: 10px;
      }
    }
  }
}
.intro {
  position: relative;
  padding: 50px 0;
  padding-bottom: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
  z-index: 1;
  > .introImage {
    margin-bottom: 25px;
    max-width: 720px;
    z-index: 1;
  }
  > h1 {
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    z-index: 1;
    > .top {
      margin-top: -5px;
    }
  }
  .top {
    margin-top: 20px;
  }
  > p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2px;
    z-index: 1;
  }
  > .btnIntro {
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    width: 220px;
    height: 48px;
    border: none;
    z-index: 1;
    border-radius: 50px;
    background-color: hsl(198, 60%, 50%);
    transition: 0.5s;
    &:hover {
      background-color: hsl(176, 68%, 64%);
    }
  }
}
.hide {
  display: none;
}
.curvy {
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.cards {
  margin-top: -220px;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .row {
    display: flex;
    margin-bottom: 100px;
    gap: 100px;
    z-index: 1;
    > .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 375px;
      > img {
        height: 80px;
        margin-bottom: 25px;
      }
      > h4 {
        color: #fff;
        font-family: "Raleway", sans-serif;
        margin-bottom: 8px;
      }
      > p {
        font-weight: 400;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        color: #fff;
      }
    }
    .first {
      max-width: 355px;
    }
    .second {
      max-width: 380px;
    }
    &:first-child {
      padding-top: 90px;
    }
  }
}
.productive {
  padding: 40px 70px;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  gap: 60px;
  > .productive-left {
    max-width: 600px;
    > img {
      width: 100%;
    }
  }
  > .productive-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h3 {
      width: 300px;
      margin-bottom: 17px;
      font-size: 30px;
      font-weight: 700;
      color: #fff;
      font-family: "Raleway", sans-serif;
    }
    > p {
      width: 500px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 14px;
    }
    > a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: hsl(176, 68%, 64%);
      font-size: 14px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      position: relative;
      text-decoration: none;
      transition: 0.5s;
      &:hover::before {
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        width: 30%;
        height: 1px;
        background-color: hsl(176, 68%, 64%);
        margin-top: 10px;
      }
      > .icon {
        margin-left: 5px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: hsl(176, 68%, 64%);
        display: flex;
        justify-content: center;
        align-items: center;
        > i {
          color: hsl(218, 28%, 13%);
          font-size: 12px;
        }
      }
    }
  }
}
.userCards {
  padding-top: 40px;
  padding-bottom: 230px;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  gap: 40px;
  .userCard {
    margin-top: 30px;
    z-index: 1000;
    background-color: hsl(219, 30%, 18%);
    padding: 30px 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    > .quote {
      width: 35px;
      height: 30px;
      position: absolute;
      top: -30px;
      left: 0px;
      z-index: -100000;
    }
    > p {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 20px;
    }
    .general {
      display: flex;
      > .cLeft {
        display: flex;
        align-items: center;
        > img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
      > .cRight {
        > h5 {
          font-family: "Raleway", sans-serif;
          color: #fff;
          font-size: 11px;
          margin-bottom: 2px;
        }
        > p {
          color: #fff;
          font-size: 8px;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
    &:first-child {
      position: relative;
      z-index: 1000;
    }
  }
}
.subscribe {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  position: relative;
  .cardSubs {
    background-color: hsl(219, 30%, 18%);
    width: 800px;
    height: 220px;
    position: absolute;
    top: -120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > h5 {
      font-size: 30px;
      margin-bottom: 10px;
      font-family: "Raleway", sans-serif;
      color: #fff;
      margin-top: 30px;
    }
    > p {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 10px;
      width: 620px;
      text-align: center;
    }
    > .inputBtn {
      > input {
        padding: 12px;
        width: 450px;
        outline: #fff;
        border-radius: 50px;
        border-color: transparent;
        margin-right: 20px;
      }
      > button {
        cursor: pointer;
        margin-top: 20px;
        color: #fff;
        width: 180px;
        height: 42px;
        border: none;
        border-radius: 50px;
        background-color: hsl(198, 60%, 50%);
        transition: 0.5s;
        &:hover {
          background-color: hsl(176, 68%, 64%);
        }
      }
    }
  }
}
.footer {
  background-color: hsl(216, 53%, 9%);
  height: 430px;
  padding-top: 170px;
  padding-left: 90px;
  padding-right: 90px;
  > .footerTop {
    > img {
      width: 150px;
      margin-bottom: 20px;
    }
  }
  .footerBottom {
    display: flex;
    justify-content: space-between;

    > .bottomFirst {
      display: flex;
      > img {
        color: #fff;
        margin-right: 15px;
        margin-top: 8px;
        width: 13px;
        height: 13px;
      }
      > p {
        width: 290px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
      }
    }
    .fr {
      margin-top: -5px;
    }
    > .bottomSecond {
      display: flex;
      flex-direction: column;

      .icon {
        display: flex;
        gap: 10px;
        align-items: center;
        // margin-bottom: 10px;
        > img {
          color: #fff;
          margin-right: 15px;
          margin-top: 8px;
          width: 15px;
          height: 13px;
        }
        > p {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          margin-top: 7px;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
    > .bottomThird {
      display: flex;
      flex-direction: column;
      .fr {
        margin-top: 0px;
      }
      > a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-top: 8px;
        font-family: "Open Sans", sans-serif;
        transition: 0.5s;
        &:hover {
          color: hsl(198, 60%, 50%);
        }
      }
    }
    .icons {
      display: flex;
      gap: 8px;
      > a {
        text-decoration: none;

        > .iconCircle {
          cursor: pointer;
          width: 15px;
          height: 15px;
          padding: 11px;
          background-color: transparent;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          > i {
            font-size: 11px;
            color: #fff;
            transition: 0.5s;
            &:hover {
              color: hsl(198, 60%, 50%);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .navbar {
    padding: 0 30px;
    width: 100%;
    height: 100px;
    background-color: hsl(217, 28%, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    > .left {
      > img {
        height: 30px;
        width: 100px;
      }
    }
  }
  .intro {
    padding: 0;
    padding-bottom: 210px;
    > .introImage {
      > img {
        margin-bottom: 25px;
        max-width: 500px;
        z-index: 1;
      }
    }
    > h1 {
      margin-bottom: 10px;
      > .top {
        margin-top: -5px;
      }
    }
    .top {
      margin-top: 20px;
    }
    > p {
      margin-bottom: 2px;
    }
    > .btnIntro {
      margin-top: 30px;
      width: 220px;
      height: 48px;
    }
  }
  .cards {
    margin-top: -200px;
    > .row {
      margin-bottom: 60px;
      gap: 50px;
      z-index: 1;
      > .card {
        max-width: 375px;
        > img {
          height: 60px;
          margin-bottom: 18px;
        }
        > h4 {
          margin-bottom: 8px;
        }
        > p {
          width: 300px;
          font-size: 12px;
        }
      }
      .first {
        max-width: 355px;
      }
      .second {
        max-width: 380px;
      }
      &:first-child {
        padding-top: 90px;
      }
    }
  }
  .productive {
    padding: 25px 30px;
    gap: 30px;
    > .productive-left {
      max-width: 600px;
      > img {
        width: 100%;
      }
    }
    > .productive-right {
      > h3 {
        width: 250px;
        margin-bottom: 10px;
        font-size: 26px;
      }
      > p {
        width: 350px;
        font-size: 13px;
        margin-bottom: 8px;
      }
      > a {
        font-size: 13px;
      }
    }
  }
  .userCards {
    padding-top: 30px;
    padding-bottom: 180px;
    gap: 20px;
    .userCard {
      margin-top: 30px;
      padding: 25px 15px;
      width: 350px;
      > p {
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
  }
  .subscribe {
    .cardSubs {
      background-color: hsl(219, 30%, 18%);
      width: 500px;
      height: 220px;

      top: -120px;
      border-radius: 10px;

      > h5 {
        font-size: 26px;
      }
      > p {
        font-size: 12px;
        width: 300px;
      }
      > .inputBtn {
        > input {
          width: 250px;
        }
        > button {
          cursor: pointer;
          width: 170px;
        }
      }
    }
  }
  .footer {
    background-color: hsl(216, 53%, 9%);
    height: 350px;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    > .footerTop {
      > img {
        width: 120px;
        margin-bottom: 20px;
      }
    }
    .footerBottom {
      > .bottomFirst {
        > img {
          width: 13px;
          height: 13px;
        }
        > p {
          width: 200px;
          font-size: 12px;
        }
      }
      .fr {
        margin-top: -5px;
      }
      > .bottomSecond {
        .icon {
          gap: 5px;

          > img {
            color: #fff;
            margin-right: 8px;
            margin-top: 8px;
            width: 15px;
            height: 13px;
          }
          > p {
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            margin-top: 7px;
            font-family: "Open Sans", sans-serif;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 710px) {
  .navbar {
    padding: 0 20px;
    width: 100%;
    height: 80px;
    > .left {
      > img {
        height: 25px;
        width: 70px;
      }
    }
    > .right {
      gap: 15px;
      > a {
        font-size: 10px;
      }
    }
  }
  .intro {
    padding: 50px 0;
    padding-bottom: 0px;
    > .introImage {
      > img {
        margin-bottom: 25px;
        max-width: 300px;
      }
    }
    > h1 {
      width: 250px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 0px;
      line-height: 1.4;
      > .top {
        margin-top: -5px;
      }
    }
    .top {
      margin-top: 20px;
    }
    > p {
      margin-bottom: 2px;
      text-align: center;
    }
    > .btnIntro {
      cursor: pointer;
      margin-top: 30px;
      color: #fff;
      width: 220px;
      height: 48px;
      border: none;
    }
  }
  .cards {
    padding-top: 10px;
    flex-direction: column;
    margin-top: 0;
    > p {
      max-width: 350px;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #fff;
      margin-bottom: 2px;
      z-index: 1;
    }
    > .btnIntro {
      cursor: pointer;
      margin-top: 30px;
      color: #fff;
      width: 220px;
      height: 48px;
      border: none;
      z-index: 1;
      border-radius: 50px;
      background-color: hsl(198, 60%, 50%);
      transition: 0.5s;
      margin-bottom: 100px;
      &:hover {
        background-color: hsl(176, 68%, 64%);
      }
    }
    > .row {
      margin-bottom: 60px;
      flex-direction: column;
      gap: 50px;
      z-index: 1;
      > .card {
        max-width: 375px;
        > img {
          height: 60px;
          margin-bottom: 18px;
        }
        > h4 {
          margin-bottom: 8px;
        }
        > p {
          width: 300px;
          font-size: 12px;
        }
      }
      .first {
        max-width: 355px;
      }
      .second {
        max-width: 380px;
      }
      &:first-child {
        padding-top: 90px;
      }
    }
  }
  .curv {
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    bottom: -1px;
  }
  .hidden {
    display: none;
  }
  .hide {
    display: initial;
  }
  .productive {
    padding: 25px 30px;
    padding-top: 60px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    > .productive-left {
      max-width: 300px;
      > img {
        width: 100%;
      }
    }
    > .productive-right {
      max-width: 300px;
      > h3 {
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
      }
      > p {
        width: 100%;

        font-size: 11px;
        margin-bottom: 8px;
      }
      > a {
        font-size: 11px;
      }
    }
  }
  .userCards {
    padding-top: 100px;
    padding-bottom: 240px;
    gap: 0px;
    flex-direction: column;
    align-items: center;
    .userCard {
      margin-top: 30px;
      padding: 25px 15px;
      width: 250px;
      > p {
        font-size: 10px;
        margin-bottom: 15px;
      }
    }
  }
  .subscribe {
    .cardSubs {
      background-color: hsl(219, 30%, 18%);
      width: 300px;
      height: 280px;
      top: -120px;
      border-radius: 10px;
      > h5 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      > p {
        font-size: 12px;
        width: 240px;
        margin-bottom: 20px;
      }
      > .inputBtn {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > input {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
        > button {
          width: 100%;
        }
      }
    }
  }
  .footer {
    background-color: hsl(216, 53%, 9%);
    height: 900px;

    padding-top: 230px;
    padding-left: 30px;
    padding-right: 30px;

    > .footerTop {
      > img {
        width: 150px;
        margin-bottom: 20px;
      }
    }
    .footerBottom {
      display: flex;
      flex-direction: column;

      gap: 20px;
      > .bottomFirst {
        > img {
          width: 20px;
          height: 18px;
        }
        > p {
          width: 260px;
          font-size: 16px;
        }
      }
      .fr {
        margin-top: 0px;
      }
      > .bottomSecond {
        .icon {
          gap: 5px;
          > img {
            color: #fff;
            margin-right: 10px;
            margin-top: 8px;
            width: 20px;
            height: 18px;
          }
          > p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin-top: 7px;
            font-family: "Open Sans", sans-serif;
          }
        }
      }
      > .bottomThird {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .fr {
          margin-top: 0px;
        }
        > a {
          font-size: 16px;
        }
      }
      .icons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 10px;
        > a {
          text-decoration: none;
          > .iconCircle {
            cursor: pointer;
            width: 22px;
            height: 22px;
            padding: 13px;
          }
        }
      }
    }
  }
}
